/* Using a css reset to normalize CSS looks across browsers */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Personal CSS */

:root {
  --main-color: #FFF; 
  --accent-color: #ED9E05; 
  --passive-color: #1a1a1a;
  --backdrop-color: #313131;
  --beige: #dddddd;
  --passive-color-transparant: rgba(0,0,0,0.2);
  --main-color-transparant: rgba(255, 255, 255, 0.2);
  --nav-link-color: #1a1a1a;
  --tag-border-color: #fff;
  --tag-text-color: #ED9E05;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  background-color: var(--passive-color);
  color: var(--main-color);
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  display: flex;
  flex-direction: column;
} 

.logoHex {
  stroke: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 800;
}

h2 {
  margin: 20px 0px 10px 0px;
}

hr {
  color: var(--main-color);
  width: 100%;
  border: none;
  border-top: 1px solid var(--main-color);
  height: 1px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.fadeInSection {
  opacity: 0;
  transform: none;
  visibility: hidden;
  transition: opacity 500ms ease-out, visibility 500ms ease-out;
  will-change: opacity, transform, visibility;
}
.fadeInSection.isVisible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  width: 100vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  background-color: var(--passive-color);
}

nav a:link{
  color: var(--nav-link-color);
}

nav a:visited {
  color: var(--nav-link-color)
}

nav ul {
  display: flex;
  flex-direction: row-reverse;
}

#brandContainer {
  display: flex;
  align-items: center;
  padding: 5px 0 5px 5px;
}

/* theme toggle */

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
}

.toggleContainer {
  align-self: flex-end;
  min-height: 28px;
}

.toggleSwitch {
  position: relative;
  width: 48px;
  min-width: 0;
  min-height: 0;
  margin-top: 3px;
}

label {
  position: absolute;
  width: 48px;
  height: 28px;
  background-color: #FFF;
  border-radius: 14px;
  cursor: pointer;
}

input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

input:checked ~ .slider {
  background-color: #1a1a1a;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  box-shadow: inset 6px -1px 0px 0px #1a1a1a;
  background-color:#FFF;
  transition: 0.3s;
}

input:checked ~ .slider::before {
  transform: translateX(20px);
  background-color: #FFF;
  box-shadow: none;
}

.skill {
  z-index: -1;
}

/* Nav menu */

nav ul li {
  margin: 0px 10px;
}

.trapezoidLeftHeader {
  color:var(--passive-color);
  background-color: var(--main-color);
  width: fit-content;
  height: 25px;
  line-height: 25px;
  text-align: center;
  position: relative;
  padding: 0 2px;
  text-align: right;
}

.trapezoidLeftHeader:before{
  content:"";
  width:0px;
  height:0px;
  border-bottom: 25px solid var(--main-color);
  border-left: 20px solid transparent;
  position: absolute;
  right: 100%;
  top: 0px;
}

.dropdown {
  display: none;
  float: left;
  overflow: hidden;
}

@media (max-width: 600px) {
  .toggleSwitch {margin: 0;}
  .flexColumn {justify-content: center;}
  nav {
    align-items: center;
  }
  nav a:link{
    color: var(--main-color);
  }
  nav a:visited {
    color: var(--main-color);
}
  nav ul { display: none; }
  .dropdown { 
    display: flex; 
    align-items: center;
  }
}
.dropdownButton > img {
  padding: 0 10px 0 0;
}
.dropdown .dropdownButton {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0;
  color: var(--main-color);
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdownContent {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0%; 
  top: 100%;
  background-color: var(--backdrop-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--passive-color-transparant);
  z-index: 1;
}

.dropdownContent a {
  float: left;
  color: var(--main-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownContent a:hover {
  color: var(--accent-color);
}

.dropdown:hover .dropdownContent {
  display: flex;
}


.sticky {
	position: sticky;
	top: 0;
  background-color: var(--passive-color);
}

#mainContent {
  max-width: 1024px;
  margin: 0 auto;
}

#brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 40px auto; 
}

#name {
  max-width: 302px;
}

#name > h1 {
  margin: 0
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutTextContainer > p {
  margin: 7px 0px;
}

#experience  {
  margin: 40px auto;
}

#experience > ul {
  padding: 0;
}

#experience > ul > li {
  margin: 10px 0;
}

.experienceContainer{
  display: flex;
  justify-content: space-between;
}

.trapezoidLeftExperience {
  color:var(--nav-link-color);
  background-color: var(--main-color);
  width: 330px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  position: relative;
  padding: 0 2px;
  text-align: right;
  z-index: -1;
}

.trapezoidLeftExperience:before{
  content:"";
  width:0px;
  height:0px;
  border-bottom: 25px solid var(--main-color);
  border-left: 20px solid transparent;
  position: absolute;
  right: 100%;
  top: 0px;
  z-index: -1;
}

@media (max-width: 600px) {
  .experienceContainer{
    display: flex;
    flex-direction: column;
  }
  .trapezoidLeftExperience:after{
    content:"";
    width:0px;
    height:0px;
    border-bottom: 25px solid var(--main-color);
    border-right: 20px solid transparent;
    position: absolute;
    left: 100%;
    top: 0px;
  }
}

#skills > ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.tag {
  /* Found on: https://stackoverflow.com/questions/10349867/how-do-i-bevel-the-corners-of-an-element */
  margin: 5px 5px;
  position: relative;
  color: var(--tag-text-color);
  width: fit-content;
  height: fit-content;
  line-height: 25px;
  padding: 5px 8px 5px 15px;
  background-color: transparent;
  background-image: linear-gradient(180deg, var(--tag-border-color), var(--tag-border-color))
    ,linear-gradient(225deg, var(--tag-border-color), var(--tag-border-color))
    ,linear-gradient(0deg, var(--tag-border-color), var(--tag-border-color))
    ,linear-gradient(90deg, var(--tag-border-color), var(--tag-border-color))
    ,linear-gradient(135deg, transparent 9px, var(--tag-border-color) 10px, var(--tag-border-color) 12px, transparent 12px)
    ;
  background-position: top right
    ,top right
    ,bottom left
    ,bottom left
    ,top left
    ;
  background-size: calc(100% - 15px) 2px
    ,2px 100%
    ,100% 2px
    ,2px calc(100% - 15px)
    ,15px 15px
    ;
  background-repeat: no-repeat;
  z-index: -1;
}

#projects > ul {
  display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

#projects > ul > li {
  flex: 1 1 50%;
}

.repoCard {
  padding: 2px 5px 5px 5px;
  border: 2px solid var(--tag-border-color);
  min-height: 150px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.repoCard > ul{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.textContainer {
  padding: 2px 5px;
}

.language {
  width: max-content;
  flex: auto;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

form > * {
  flex-grow: 0;
}

input, textarea {
  margin: 5px;
  font-size: 20px;
  border: 3px solid var(--accent-color);
  border-radius: 3px;
}

.formButton {
  margin: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  border-radius: 2px;
  padding: 6px 12px;
  border: 0;
  color: var(--main-color);
  background: var(--accent-color);
}

button:hover {
  box-shadow: 0 0 0 3px var(--main-color);
}

#messagesList > li {
  width: fit-content;
  background-color: var(--backdrop-color);
}

a:link {
  color:var(--main-color);
}

a:visited {
  color:var(--main-color);
}

#footerContainer {
  height: max-content;
  display: flex;
  flex-direction: column;
}

footer {
  margin: auto auto 0 auto;
  padding: 10px;
  background-color: var(--backdrop-color);
  width:fit-content
}