/* Using a css reset to normalize CSS looks across browsers */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Personal CSS */

 body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  background-color: #1A1A1A;
  color: #FFFFFF;
  font-family: 'Fragment Mono', monospace;
  line-height: normal;
  display: flex;
  flex-direction: column;
} 

h1, h2, h3, h4, h5, h6 {
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 800;
}

nav {
  display: flex;
  justify-content: end;
  width: 100%;
  background-color: #313131;
}

nav select {
  display: none;
}

nav div {
  display:none;
}

nav ul {
  display: flex;
  flex-direction: row-reverse;
}

nav ul li {
  list-style-type: none;
  margin: 5px 10px;
}

@media (max-width: 600px) {
  nav ul     { display: none; }
  nav select { 
    display: inline-block;  
  }
  /* nav div {
    display: flex;
    flex-direction: column;
  } */
}

/* .dropdownButton {
  background-color: rgba(0, 0, 0, 0);
  width: 54px;
  height: 54px;
  color: white;
  padding: 8px 6px 6px;
  font-size: 16px;
  border: 1px solid black;
  cursor: pointer;
  margin: 0;
  /* background: url('assets/menu-mobile60x60.png');
  background-repeat: no-repeat;
  background-size: 40px 40px; 
}*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #00000000;
  min-width: 200px;
  z-index: 1;
  margin-top: 20px;
} */



.sticky {
	position: sticky;
	top: 0;
}

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0;
}

#about > * {
  margin: 0 40px 20px 40px;
}

#aboutTextContainer {
  flex: 2;
}

@media (max-width: 1200px ) {
  #aboutTextContainer {
    flex-basis: 100%;
  }

}

#name > h1 {
  margin: 0
}

#knowhowContainer {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
 }

div#knowhowContainer > section {
  flex: auto;
  margin: 0 40px;
}

#experience > *, #skills > *  {
  background-color: #313131;
}

#experience #skills {
  flex: auto;
}

#experience > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#experience > ul > li {
  flex-basis: 50%;
  margin: 20px 0;
  width: min-content;
}
#connectContainer, #messageForm {
  margin: 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 600px;
}

form > * {
  flex-grow: 0;
}

input, textarea {
  margin: 5px;
  font-size: 20px;
  border: 3px solid #ED9E05;
  border-radius: 3px;
}

.formButton {
  margin: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  border-radius: 2px;
  padding: 6px 12px;
  border: 0;
  color: #fff;
  background: #ED9E05;
}

button:hover {
  box-shadow: 0 0 0 3px #fff;
}

#messagesList > li {
  width: fit-content;
  background-color: #313131;
}

a:link {
  color:#FFFFFF;
}

a:visited {
  color:#aaaaaa;
}

#footerContainer {
  height: max-content;
  display: flex;
  flex-direction: column;
}

footer {
  margin: auto auto 0 auto;
  padding: 10px;
  background-color: #313131;
  width:fit-content
}